
.flash-box
  グループを作成しました
.wrapper
  
  = render 'shared/side_bar'

  .chat-main
    .chat-header
      .current-group
        .current-group__name
          TEST
        .member-list
          test
      .main-header__edit-btn Edit
    .messages
      .message
        %p.messeage-user
          test-user
        %p.message__text 
          こんにちは！
    .form
      = form_for [@group, @message] do |f|
        = fext_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mark
          = f.label :image, class: 'form__mask__image'  do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :iamge, class: 'hidden'
        = f.submit 'send', class: 'form__submit'
